<footer id="footer">
  <!-- Form -->
  <section>
    <form method="POST" action="https://formspree.io/newhomereformasbcn@gmail.com">
      <!-- TODO Next would be a thankyou_text not page! -->
      <input type="hidden"> <!-- name="_next" value="{{site.url}}{{site.formspree_thankyou_page}}"-->
      <div class="field">
        <label for="name">{{ site.contact_name[page.language] }}</label>
        <input type="text" name="name" id="name" />
      </div>
      <div class="field">
        <label for="email">{{ site.contact_email[page.language] }}</label>
        <input type="text" name="email" id="email" />
      </div>
      <div class="field">
        <label for="telf">{{ site.contact_phone[page.language] }}</label>
        <input type="text" name="telf" id="telf" />
      </div>
      <div class="field">
        <label for="message">{{ site.contact_message[page.language] }}</label>
        <textarea style="resize:vertical; min-height:100px;" name="message" id="message" rows="3" ></textarea>
      </div>
      <ul class="actions">
        <li><input type="submit" value="{{site.send[page.language]}}" style="padding-left:25px; padding-right:25px;"/></li>
        <!-- Privacy policy -->
        <span style="font-size:0.70rem;">{{ site.privacy[page.language] }}</span>

        <li id="conditions" style="display:none;">
          <br>
          <h3 style="margin-bottom:0.75rem;">{{ site.title_privacy[page.language] }}</h3>
          <div style="font-size:0.75rem; text-align:justify;">{{ site.conditions[page.language] }}</div>
        </li>
      </ul>
    </form>
  </section>

  <!-- Contact -->
  <section class="split contact">
    <section>
      <h3>{{ site.contact_location[page.language]  }}</h3>
      <p>{{ site.location[page.language] }}</p>
    </section>
    <section>
      <h3>{{ site.contact_phone[page.language] }}</h3>
      <p>{{site.phone}}</p>
    </section>
    <section>
      <h3>{{ site.contact_email[page.language] }}</h3>
      <p>{{site.email}}</p>
    </section>
    <section>
      <h3>{{ site.contact_nif }}</h3>
      <p>{{ site.nif }}</p>
    </section>

    <!-- <section>
      <h3>Social</h3>
      <ul class="icons alt" style="text-align:right;">
        <li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>
        <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
        <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li>
      </ul>
    </section> -->
    <!-- <ul class="icons">
      <li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>
      <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
      <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li>
    </ul> -->

  </section>
</footer>
<!-- Copyright -->
<div id="copyright">
  <ul><li>&copy; New Home Reformas</li>
</div>
