<ul class="links">
  {% if page.layout == "post" %}
    <li class="active">
			{% if page.language contains 'ca' %}
				<a href="{{ "/" | absolute_url | append: "ca" }}"><img src="{{ "/assets/icon/favicon-32x32.png" | absolute_url }}" alt="" style="vertical-align: middle;"/></a>
			{% elsif page.language contains 'en' %}
				<a href="{{ "/" | absolute_url | append: "en" }}"><img src="{{ "/assets/icon/favicon-32x32.png" | absolute_url }}" alt="" style="vertical-align: middle;"/></a>
			{% else %}
				<a href="{{ "/" | absolute_url }}"><img src="{{ "/assets/icon/favicon-32x32.png" | absolute_url }}" alt="" style="vertical-align: middle;"/></a>
			{% endif %}
    </li>
    <li>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;<span style="text-transform:none;">Blog</span></p>
    </li>
  {% else %}
    <li class="active"><a>{{ site.header1[page.language] }}</a></li>
    <li><a href="#servicios">{{ site.header2[page.language] }}</a></li>
    <li><a href="#provedores">{{ site.header3[page.language] }}</a></li>
    <li><a href="#blog">{{ site.header4[page.language] }}</a></li>
    <li><a href="#footer">{{ site.header5[page.language] }}</a></li>
  {% endif %}
</ul>

<!-- Idiomas -->
<ul style="list-style-type: none;">
  <li style="float:right;">
      <a href="{{ site.link | append: "en" }}" style="border-bottom:none; {% if page.language contains 'en' %} border: grey solid 11px; background-color: grey; {% endif %}">
          <img src="{{ site.baseurl }}/images/english_flag.png" alt="English flag" width="32" height="20" style="vertical-align: middle;">
      </a>
  </li>
  <li style="float:right;">
      <a href="{{ site.link }}" style="border-bottom:none; margin-right:10px; {% if page.language contains 'es' %} border: grey solid 10px; background-color: grey; {% endif %}">
          <img src="{{ site.baseurl }}/images/spanish_flag.png" alt="Spanish flag" width="32" height="20" style="vertical-align: middle;">
      </a>
  </li>
  <li style="float:right;">
      <a href="{{ site.link | append: "ca" }}" style="border-bottom:none; margin-right:10px; {% if page.language contains 'ca' %} border: grey solid 10px; background-color: grey; {% endif %}">
          <img src="{{ site.baseurl }}/images/catalan_flag.png" alt="Catalan flag" width="32" height="20" style="vertical-align: middle;">
      </a>
  </li>
</ul>
