<!DOCTYPE HTML>

<html>

	<head>
    {% include head.html %}
	</head>

	<body class="is-loading">

		<!-- Wrapper -->
		<div id="wrapper" class="fade-in">

				<!-- Intro -->
				<div id="intro">
          <img src="{{ "/images/roof_mod.png" | absolute_url }}" alt="" class="width: 55%;"/>
          <h1>{{ site.title }}</h1>
					<h2>{{ page.subtitle[page.language] }}</h2>
					<p>{{ page.sketch[page.language] }}</p>
					<ul class="actions">
						<li>
							<a href="#header"></a>
						</li>
					</ul>
				</div>

				<!-- Header -->
				<header id="header">
					{% if page.language contains 'ca' %}
						<a href="{{ "/" | absolute_url | append: "ca" }}" class="logo">{{ site.title }}</a>
					{% elsif page.language contains 'en' %}
						<a href="{{ "/" | absolute_url | append: "en" }}" class="logo">{{ site.title }}</a>
					{% else %}
						<a href="{{ "/" | absolute_url }}" class="logo">{{ site.title }}</a>
					{% endif %}
				</header>

				<!-- Nav -->
				<nav id="nav">
          {% include nav.html %}
				</nav>

				<!-- Main -->
				<div id="main">
					<!-- Featured -->
					<article class="post featured">
						<header class="major">
							<h2>{{ page.highlight[page.language] }}</h2>
							<p><a href="#footer">{{ page.motto[page.language] }}</a></p>
						</header>

            <p>{{ page.about[page.language] }}</p>

						<!-- Spaces -->
						<div class="row">
							<div class="4u 12u$(small)" style="padding-right:1.5rem;">
								<ul style="list-style-type: none;">
									<li>{{ page.espacio1[page.language] }}</li>
									<li>{{ page.espacio2[page.language] }}</li>
									<li>{{ page.espacio3[page.language] }}</li>
									<li>{{ page.espacio4[page.language] }}</li>
								</ul>
							</div>

							<div class="4u 12u$(small)" style="padding-right:1.5rem;">
								<ul style="list-style-type: none;">
									<li>{{ page.espacio5[page.language] }}</li>
									<li>{{ page.espacio6[page.language] }}</li>
									<li>{{ page.espacio7[page.language] }}</li>
									<li>{{ page.espacio8[page.language] }}</li>
								</ul>
							</div>

							<div class="4u 12u$(small)" style="padding-right:1.5rem;">
								<ul style="list-style-type: none;">
									<li>{{ page.espacio9[page.language] }}</li>
									<li>{{ page.espacio10[page.language] }}</li>
									<li>{{ page.espacio11[page.language] }}</li>
									<li>{{ page.espacio12[page.language] }}</li>
								</ul>
							</div>
						</div>

						<br/>

						<!-- Slider -->
						<div style="width:85%; height:85%; margin:0 auto;">
							<ul id="slider-home">
							  <li title="Cocina blanco y negro">
							    <img src="{{ "/images/pic01.jpg" | absolute_url }}" alt="demo1_1">
							  </li>
							  <li title="Cocina a color">
							    <img src="{{ "/images/pic02.jpg" | absolute_url }}"  alt="demo1_2">
							  </li>
							</ul>
						</div>

						<br/>

						<!-- Services-->
						<h3 id="servicios"><br/>{{ page.title_services[page.language] }}</h3>
            <p>{{ page.services[page.language] }}</p>
						<div class="row" style="text-align:left;">
							<div class="4u 12u$(small)">
								<ul>
									<li>{{ page.service1[page.language] }}</li>
									<li>{{ page.service2[page.language] }}</li>
									<li>{{ page.service3[page.language] }}</li>
									<li>{{ page.service4[page.language] }}</li>
								</ul>
							</div>

							<div class="4u 12u$(small)">
								<ul>
									<li>{{ page.service5[page.language] }}</li>
									<li>{{ page.service6[page.language] }}</li>
									<li>{{ page.service7[page.language] }}</li>
									<li>{{ page.service8[page.language] }}</li>
								</ul>
							</div>

							<div class="4u 12u$(small)">
								<ul>
									<li>{{ page.service9[page.language] }}</li>
									<li>{{ page.service10[page.language] }}</li>
									<li>{{ page.service11[page.language] }}</li>
									<li>{{ page.service12[page.language] }}</li>
								</ul>
							</div>
						</div>

						<!-- Suppliers -->
						<h3 id="provedores"><br/>{{ page.title_suppliers[page.language] }}</h3>
            <p>{{ page.suppliers[page.language] }}</p>
						<table>
						  <tr>
						    <td style="width:33%;">
									<a href="http://www.ceramicasanandres.com/" style="border-bottom:none;" target="_blank">
										<img src="{{ "/images/provedores/csa.jpg" | absolute_url }}" title="Cocinas San Andrés" style="border-radius:15%; width:20%; vertical-align:middle;">
									</a>
								</td>
						    <td style="width:33%;">
									<a href="https://www.bricomart.es/" style="border-bottom:none;" target="_blank">
										<img src="{{ "/images/provedores/bricomart.png" | absolute_url }}" title="Bricomart" style="width:85%; vertical-align:middle;">
									</a>
								</td>
						    <td style="width:34%;">
									<a href="http://www.leroymerlin.es/" style="border-bottom:none;" target="_blank">
										<img src="{{ "/images/provedores/lm.png" | absolute_url }}" title="Leroy Merlín" style="width:30%; vertical-align:middle;">
									</a>
								</td>
						  </tr>
						  <tr>
						    <td style="width:33%;">
									<a href="https://www.teclisa.com/es" style="border-bottom:none;" target="_blank">
										<img src="{{ "/images/provedores/teclisa.png" | absolute_url }}" title="Teclisa" style="width:45%; vertical-align:middle;">
									</a>
								</td>
						    <td style="width:33%;">
									<a href="https://cocinas-tpc.com/" style="border-bottom:none;" target="_blank">
										<img src="{{ "/images/provedores/tpc.png" | absolute_url }}" title="TPC Cocinas" style="width:23%; vertical-align:middle;">
									</a>
								</td>
						    <td style="width:34%;">
									<a href="https://maderassanandres.es/" style="border-bottom:none;" target="_blank">
										<img src="{{ "/images/provedores/msa.png" | absolute_url }}" title="Maderas San Andrés" style="width:17%; vertical-align:middle;">
									</a>
								</td>
						  </tr>
						</table>

					</article>

					<!-- Posts -->
					<section id="blog" class="posts">

						{% for post in site.posts limit:2 %}
							{% if page.language contains 'ca' %}
								{% assign link = site.link | append: "ca/" | append: post.name[page.language] %}
							{% elsif page.language contains 'en' %}
								{% assign link = site.link | append: "en/" | append: post.name[page.language] %}
							{% else %}
								{% assign link = post.url | absolute_url %}
							{% endif %}
							<article>
								<header>
									<span class="date">{{ post.fecha[page.language] }}</span>
									<h2><a href="{{ link }}">{{ post.title[page.language] }}</a></h2>
								</header>
								<a href="{{ link }}" class="image fit post-image"><img src="{{ post.image | absolute_url }}"/></a>
								<p style="text-align:center;"><strong>{{ post.subtitle[page.language] }}</strong></p>
								<ul class="actions">
									<li><a href="{{ link }}" class="button">{{ site.view[page.language] }}</a></li>
								</ul>
							</article>
						{% endfor %}

					</section>
				</div>

				<!-- Footer -->
        {% include foot.html %}

		</div>

		<!-- Scripts -->
		{% include scripts-main.html %}
    {% include tracking.html %}

	</body>

</html>
