<!DOCTYPE HTML>

<html>

	<head>
    {% include head.html %}
	</head>

	<body class="is-loading">

		<!-- Wrapper -->
		<div id="wrapper" class="fade-in">

			<!-- Header -->
      <header id="header">
				{% if page.language contains 'ca' %}
					<a href="{{ "/" | absolute_url | append: "ca" }}" class="logo">{{ site.title }}</a>
				{% elsif page.language contains 'en' %}
					<a href="{{ "/" | absolute_url | append: "en" }}" class="logo">{{ site.title }}</a>
				{% else %}
					<a href="{{ "/" | absolute_url }}" class="logo">{{ site.title }}</a>
				{% endif %}
      </header>

			<!-- Nav -->
			<nav id="nav">
        {% include nav.html %}
			</nav>

			<!-- Main -->
			<div id="main">

        <section class="post">
  				<header class="major">
    				<span class="date">{{ page.fecha[page.language] }}</span>
    				<h1>{{ page.title[page.language] }}</h1>
    			</header>

					<p>{{ content }}</p>

					<div class="box alt">
						<div class="row 50% uniform">
							<div class="6u"><span class="image fit">
								<img src="/images/posts/recycle1.jpg" alt=""/>
							</span></div>
							<div class="5u"><span class="image fit">
								<img src="/images/posts/recycle2.jpg" alt="" />
							</span></div>
							<div class="5u"><span class="image fit">
								<img src="/images/posts/recycle4.jpg" alt="" />
							</span></div>
							<div class="7u"><span class="image fit">
								<img src="/images/posts/recycle5.jpg" alt=""/>
							</span></div>
							<div class="5u"><span class="image fit">
								<img src="/images/posts/recycle3.jpg" alt=""/>
							</span></div>
						</div>
					</div>

					<p>{{ page.source[page.language] }}</p>
				</section>

			</div>

			<!-- Footer -->
      {% include foot.html %}

		</div>

    <!-- Scripts -->
		{% include scripts-main.html %}
		{% include tracking.html %}

	</body>

</html>
