<!DOCTYPE HTML>

<html>

	<head>
    {% include head.html %}
	</head>

	<body class="is-loading">

		<!-- Wrapper -->
		<div id="wrapper" class="fade-in">

			<!-- Header -->
      <header id="header">
				{% if page.language contains 'ca' %}
					<a href="{{ "/" | absolute_url | append: "ca" }}" class="logo">{{ site.title }}</a>
				{% elsif page.language contains 'en' %}
					<a href="{{ "/" | absolute_url | append: "en" }}" class="logo">{{ site.title }}</a>
				{% else %}
					<a href="{{ "/" | absolute_url }}" class="logo">{{ site.title }}</a>
				{% endif %}
      </header>

			<!-- Nav -->
			<nav id="nav">
        {% include nav.html %}
			</nav>

			<!-- Main -->
			<div id="main">

        <section class="post">
  				<header class="major">
    				<span class="date">{{ page.fecha[page.language] }}</span>
    				<h1>{{ page.title[page.language] }}</h1>
    			</header>

					<p>{{ content }}</p>

					<br>

					<div style="width:80%; height:80%; margin:0 auto;">
						<ul id="slider-post">
							<li>
								<a><img src="/images/posts/led1.jpg" alt="{{page.feature1[page.language]}}"></a>
							</li>
							<li>
								<a><img src="/images/posts/led2.jpg" alt="{{page.feature2[page.language]}}"></a>
							</li>
						</ul>
					</div>
				</section>

			</div>

			<!-- Footer -->
      {% include foot.html %}

		</div>

    <!-- Scripts -->
		{% include scripts-main.html %}
		{% include tracking.html %}

	</body>

</html>
